<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cong.sqldog.infrastructure.mapper.ExecuteInfoMapper">

    <resultMap id="BaseResultMap" type="com.cong.sqldog.model.entity.ExecuteInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="sqlContent" column="sqlContent" jdbcType="VARCHAR"/>
            <result property="sqlAnalyzeResult" column="sqlAnalyzeResult" jdbcType="VARCHAR"/>
            <result property="reviewStatus" column="reviewStatus" jdbcType="INTEGER"/>
            <result property="reviewMessage" column="reviewMessage" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sqlContent,sqlAnalyzeResult,
        reviewStatus,reviewMessage,userId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
